*{
  margin: 0px;
  padding: 0px;
}
#top{
  background-attachment: scroll;
  background-clip: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  background-color: #EEEEEE;
}
section{
  background: #EEEEEE;
}
header.nav-top{
  background: inherit;
  height: 90px;
}


.nav-list{
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20px;
  font-size: 16.8px;
  font-weight: 400;
  background-color: #EEEEEE;
  margin: auto;
}
.nav-list ul{
  text-align: center;
  padding-top: 10px;
}
.nav-list li{
  display: inline-block;
  list-style: none;
  padding: 26px 20px 20px 10px;
  text-transform: uppercase;
}
.nav-list a{
  color: #00CC99;
}

.btn2{
  text-transform: uppercase;
  text-decoration-line: none;
  transition: color 0.3s;
}

.btn4{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display:inline-block;
  text-decoration-line: none;
  transition: color 0.3s;
}

.btn2:hover{
  color: #008000;
}

.btn4:hover{
  color: #008000;
}

/*main---------------------------------*/
.main{
  background-color: white;
  height: 600px;
}
.main-title{
  font-size: 36px;
  text-align: center;
  padding-top: 50px ;
}

/*footer---------------------------------*/
.footer{
  background-color: #EEEEEE;
  padding-top:10px;
}
.footer-list a{
  text-decoration-line: none;
  color: #00CC99;
}
.footer-list li{
  text-align: center;
  list-style: none;
  padding-bottom: 20px;

}
.btn:hover{
  color: #008000;
  transition: color 0.3s;
}
