*{
  margin: 0px;
  padding: 0px;
}
#top{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  background-color: #EEEEEE;
}
section{
  background: #EEEEEE;
}
header.nav-top{
  background: inherit;
  height: 90px;
}
.nav-list{
  z-index: 20px;
  font-size: 16.8px;
  font-weight: 400;
  background-color: #EEEEEE;
}
.nav-list ul{
  text-align: center;
  padding-top: 10px;
}
.nav-list li{
  display: inline-block;
  list-style: none;
  padding: 26px 20px 20px 10px;
  text-transform: uppercase;
}
.nav-list a{
  color: #00CC99;
}

.btn2{
  text-transform: uppercase;
  text-decoration-line: none;
  transition: color 0.3s;
}

.btn4{
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display:inline-block;
  text-decoration-line: none;
  transition: color 0.3s;
}

.btn2:hover{
  color: #008000;
}

.btn4:hover{
  color: #008000;
}

/*main---------------------------------*/
.main{
  background-color: white;
  height: 600px;
}
.main-title{
  font-size: 36px;
  text-align: center;
  padding-top: 50px ;
  padding-right: 20px;
}
.contact-form{
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text]{
  display: block;
  height: 15px;
  width: 50%;
  padding: 15px;
  border-radius: 0;
  color: black;
  margin: 40px auto 0;
  color: black;
  outline: none;
}
.contact-form textarea {
  display: block;
  width: 50%;
  padding: 15px;
  border-radius: 0;
  color: black;
  height: 150px;
  margin: 10px auto 0;
  outline: none;
}
.contact-form input[type=submit]{
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  outline: none;
}
.contact-form input[type=submit]:hover{
  background-color: #00CC99;
}
/*footer---------------------------------*/
.footer{
  background-color: #EEEEEE;
  padding-top:10px;
}
.footer-list a{
  text-decoration-line: none;
  color: #00CC99;
}
.footer-list li{
  text-align: center;
  list-style: none;
  padding-bottom: 20px;
}
.footer p{
  padding: 5px 0;
  font-size: 0.3rem;
  text-align: center;
}
.btn:hover{
  color: #008000;
  transition: color 0.3s;
}
